<html lang="zh-CN">

<head>
    <title>FastAPI Example</title>
</head>

<body>
    <h1>FastAPI Example</h1>
    {# {% if has_permission("index:read", request) %}
    <p>You have permission to access this page</p>
    {% else %}
    <p>You do not have permission to access this page</p>
    {% endif %} #}

    {# {% for permission in request.state.user.scopes %}
    <p>{{ request.state.user.user_name }} has permission to {{ permission }}</p>
    {% endfor %} #}
</body>

</html>